.Rproj.user
.Rhistory
.RData
.Ruserdata
manuscripts
webarchives
data
papers
proposals
ggnealogy-1Cronicas.Rmd
ggnealogy-1Cronicas.html
ggnealogy-1Cronicas_files/
ggnealogy-imperial-house-brazil
ggnealogy-imperial-house-brazil.Rmd
ggnealogy-imperial-house-brazil.html
ggnealogy-imperial-house-brazil_files/
ggnealogy.Rmd
ggnealogy.html
ggnealogy_files/
ggnealogy_francisco-pereira-coutinho.Rmd
ggnealogy_francisco-pereira-coutinho.html
ggnealogy_francisco-pereira-coutinho_files/
ggnealogy_pero-do-campo-tourinho.Rmd
ggnealogy_pero-do-campo-tourinho.html
ggnealogy_pero-do-campo-tourinho_files/
spacial-genealogy-2.Rmd
spacial-genealogy-2.html
spacial-genealogy-2_files/
spacial-genealogy-madragana-ben-alondro-2.Rmd
spacial-genealogy-madragana-ben-alondro-2.html
spacial-genealogy-madragana-ben-alondro-2_files/
spacial-genealogy-madragana-ben-alondro.Rmd
spacial-genealogy-madragana-ben-alondro.html
spacial-genealogy-madragana-ben-alondro_files/
